{% include 'market/base_menu.html' %}

{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'market/item_list.css' %}">

{% block content %}

    <a id="add-item" href="{% url 'new-item' %}">Добавить товар</a>
    <h2> Here is list of items </h2>
    <section>
    {%  for item in items %}
        <article>
        <div id="image"><img src="{{ item.image.url }}" alt="This is pic of item"></div>
        <p><b>Name:</b> {{ item }} <br><b>Description:</b> {{ item.description }}</p>
        <p><b>Price:</b> {{ item.price }}$</p>
        </article>
    {%  endfor %}
    </section>
{% endblock content %}