{% include 'market/base_menu.html' %}

{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'market/css/item_list.css' %}">

{% block content %}

    <a id="add-item" href="{% url 'new-item' %}">Добавить товар</a>
    <h2> HERE IS LIST OF ITEM </h2>
    <section>
    {%  for item in items %}
        <article>
        <div id="image">
            <img src="{{ item.image.url }}" onclick="window.location.href='{% url 'user-page' %}'" alt="This is pic of item">
        </div>
        <p id="item-text-info">
            <span id="item-name">{{ item }}</span><br>
            <span id="item-description">{{ item.description }}</span><br><br>
            <span id="item-price">{{ item.price }} ₽</span>
        </p>
        </article>
    {%  endfor %}
    </section>
{% endblock content %}