{#<div  style="float: left;">  </div>#}
{% include 'market/base_menu.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body style="background: #fbfbfd;">
<div style="margin-left: 50px; float: left;">
    Hello {{ user_info.username }}
    <p>Your order: </p>
    {% if orders %}
        {% for order in orders %}
            <ul><li>{{ order }}</li></ul>
        {% endfor %}
    {% else %}<p>Nothing</p>
    {% endif %}
    -------------------------
    <p> Total sum: {{ total_sum }} $</p>
</div>
</body>
</html>